body{
    margin: 0 auto;
}
h1{
    color: red;
    text-align: center;
}
p{
    margin: auto;
    width: 500px;
    height: 150px;
    text-align: center;
}
footer{
    background-color: aqua;  
    padding: 30px; 
    text-align: center;
    height: 100px;
   
    
}
